.onepage {
	height: 750px;
}

.onepage-bg {
	height: 800px;
	width: 100%;
	position: absolute;
	background-position: center center;
	background-size: cover;
	background-image: url(berlinwall.jpg);
}

#onpagebg {
}

.headh1content {
	margin-top: 160px;
	line-height: 75px;
}

.title-text {
	margin-left: 50px;
}

.headfontsize h1 {
	font-size: 50px;
	color: #ffffff;
}

#brief {
	color: #ffffff;
	margin-top: 30px;
	margin-left: 30px;
}

.headfontsize p a {
	margin-top: 100px;
	margin-right: 0px;
}

.twopage {
	padding: 2px 0 2px 0;
	height: auto;
	position: relative;
}

.twopage-text {
	width: 100%;
	text-align: center;
}

.twopage-text-h1 {
	/*margin-left: 120px;*/
	letter-spacing: 2px;
	margin-top: 45px;
	margin-bottom: 0px;
	/*padding: 20px 0 0 0;*/
}

/*.twopage-text-h1 img {
	width: 100%;
	margin-top: -20px;
}*/

/*.jumbotron {
	margin-left: -2px;
}*/

.twopage .row {
	margin-top: 50px;
	margin-right: 0px;
	margin-left: 0px;
}

.twopage-courses {
	/*float: left;*/
	background: #fff;
	padding: 0;
	position: relative;
	overflow: hidden;;
}

.twopage-courses img {
	/*width: 100%;*/
}

.classicon {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	opacity: 0;
}

.icontext {
	margin-top: 100px;
}

.classicon:hover {
	background-color: black;
	opacity: 0.6;
	transition: opacity 0.5s;
}

.twopagebtn {
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

.twopagebtn .btn-lg {
	font-size: 25px;
}


.badge {
	border-radius: 55px;
	padding: 0px 45px;
	background-color: #999;
}
